<div>
  <span>View appointments for Doctor with id:</span>
  <input [(ngModel)]="id"><br>
  <span>Choose 'from' date</span>
  <input matInput [matDatepicker]="fromDatePicker" placeholder="Choose 'from' date" [(ngModel)]="fromDate" required>
  <mat-datepicker-toggle matInput [for]="fromDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #fromDatePicker></mat-datepicker>

  <br>
  <span>Choose 'to' date</span>
  <input matInput [matDatepicker]="toDatePicker" placeholder="Choose 'to' date" [(ngModel)]="toDate" required>
  <mat-datepicker-toggle matInput [for]="toDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #toDatePicker></mat-datepicker>
  <br>
  <button (click)="viewAppointments(id,fromDate,toDate)">View Appointments</button>
</div>
<figure>
  <figcaption>Appointments</figcaption>
  <table mat-table [dataSource]="appointments">
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef scope ="col"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date|date:"yyyy-MM-dd"}} </td>
    </ng-container>

    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef scope ="col"> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.date|date:"HH:mm"}} </td>
    </ng-container>

    <ng-container matColumnDef="Doctor">
      <th mat-header-cell *matHeaderCellDef scope ="col"> Doctor </th>
      <td mat-cell *matCellDef="let element"> {{element.doctor.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Patient">
      <th mat-header-cell *matHeaderCellDef scope ="col"> Patient </th>
      <td mat-cell *matCellDef="let element"> {{element.patient.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Specialty">
      <th mat-header-cell *matHeaderCellDef scope ="col"> Specialty </th>
      <td mat-cell *matCellDef="let element"> {{element.specialty}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef scope ="col"> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </table>
</figure>
<app-doctors-appointments-calendar></app-doctors-appointments-calendar>
